.container {
    display: flex;
    justify-content: space-between; /* Logo on left, menu on right */
    align-items: center;            /* Vertically center them */
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.reg-button{
    background-color: blue;
    margin: none;
    color: aliceblue;
    border-radius:6; 
}